<?xml version="1.0"?>

<config>
    <modules>
        <Rodanotion_Custmail>
            <version>1.0.0</version>
        </Rodanotion_Custmail>
    </modules>

    <global>
        <models>
            <custmail>Rodanotion_Custmail_Model</custmail>
        </models>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <mail_status_change>
                        <type>singleton</type>
                        <class>custmail/observer</class>
                        <method>invoicedStatusChange</method>
                    </mail_status_change>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <template>
            <email>
                <custom_order_tpl module="Rodanotion_Custmail">
                    <label>Status Mail Invoice</label>
                    <file>statusmail_processing.html</file>
                    <type>html</type>
                </custom_order_tpl>
            </email>
        </template>
    </global>
</config>